<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link rel='shortcut icon' type='image/vnd.microsoft.icon' href='/favicon.ico'>
        <link rel='apple-touch-icon' type='image/png' href='/flashicon.png'>
        <link rel='apple-touch-icon' type='image/png' sizes='72x72' href='/flashicon.png'>
        <link rel='apple-touch-icon' type='image/png' sizes='114x114' href='/flashicon.png'>
        <link rel='icon' type='image/png' href='/flashicon.png'>

    </head>

    <body>
        {user}
        {system.m}
        {system.m2}
    </body>

</html>